@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');

}

@media screen and (max-width:1130px){

    

    #inside {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #inside_2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    #bottom-section {
        margin-top: 200px;
    }
    #section_flex{
        gap: 50px;
    }
    #frame1 {

    }
    #section_title{
        margin-top: 10px;
    }
    #img_home_top {
        width: 100%;
    }
    
}

body{
    margin: 0;
    padding: 0;
}

#navi {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

#nav_width {
    max-width:1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 5px;

    
}






#logo {
    width: 153px;
    height: 51px;

}

#login {
    width: 128px;
    height: 48px;

}

#section_type1 { 
    background-color: #CFE5FF;

    overflow: hidden;
}

#img_home_top {
    max-width: 1000px;

}

#articles {
    padding-top:100px;
    max-width:1920px;
    background-color: #CFE5FF;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    height: auto;

}


#article_2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

#big_btn {
    margin-top: 50px;
}

#bin {
    width: 350px;
}

#article_1 {
    font-family: 'Pretendard-Regular';
    font-size: 40px;
    color: #374151;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 100px;
    
}

#section_type2 {
    max-height: 444px;
    max-width: 988px;

    margin: 120px auto;
    background-color: #FCFCFC;
}

#bin_col {
    height: 100px;
}

#bin_gray {
    height: 120px;
    background-color: #FCFCFC;
}

#frame1 {
    max-width:90%;
    flex-basis: auto; 
    flex-grow: 1;

    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#inside {
    display: flex;
    flex-wrap:wrap;
    background-color: #FCFCFC;
}

#inside_2 {
    display: flex;
    flex-wrap:wrap;
    background-color: #FCFCFC;
}

#section_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#section_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;



}

#section_title {
    color: #3692FF;
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
}

#section_content {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Pretendard-Regular';
    color:#374151;
    margin-bottom: 30px;
}

#section_content_small {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Pretendard-Regular';
    color:#374151;
    margin-bottom: 30px;
}

#foot {
    height:160px;
    background-color: #111827;

}

#footer_items {
    display: flex;
    justify-content: space-around;
    color:white;
    flex-shrink:1;

    flex-wrap: wrap;
    background-color: #111827;

}

#footer_items > div {
    margin-top: 30px;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-size: 16px;
    color: #9CA3AF;
    
}

#footer_items a {
    text-decoration: none;
    color:#E5E7EB;
    margin-right: 20px;
    font-weight: 400;
}



#footer_width {
    margin: 0 auto;
    max-width: 1920px;
}


#social > a {

}

.login_page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 640px;
    height: 618px;
    margin: 0 auto;
}

.logo_login {
    margin: 0 auto;
}

.login_form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-between;
}
